doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    base(href="../")
    script.
      // electron stuff from quickstart - not sure what it does
      if (typeof module === 'object') {
        window.module = module;
        module = undefined;
      }
      if (window.module) module = window.module;
    include ScriptsAndLinks

  body
    include main
  script.
    let rendererPath = process.cwd();
    if(rendererPath.endsWith("arepl-win32")){ //win prod build
      rendererPath = rendererPath + '/resources/app';
    }
    else if(__dirname.includes("arepl-darwin")){ //mac prod build
      rendererPath = __dirname.replace("view",'/src/electron/renderer.js')
    }
    else{
      rendererPath = rendererPath + '/src/electron/renderer.js';
    }
    require(rendererPath);