block ScriptsAndLinks
  script(src='node_modules/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='libraries/renderjson.js')

  script(src='src/app.js')
  
  script(src='libraries/codemirror/lib/codemirror.js')
  script(src='libraries/codemirror/mode/python/python.js')
  script(src='libraries/codemirror/addon/search/search.js')
  script(src='libraries/codemirror/addon/dialog/dialog.js') // required by search.js
  script(src='libraries/codemirror/addon/search/searchcursor.js') // required by search.js
  script(src='libraries/codemirror/addon/comment/comment.js')
  script(src='libraries/codemirror/addon/edit/matchbrackets.js') // required by sublime keymap
  script(src='libraries/codemirror/keymap/sublime.js')
  script(src='libraries/codemirror/addon/edit/closebrackets.js')
  script(src='libraries/codemirror/addon/search/matchesonscrollbar.js')
  script(src='libraries/codemirror/addon/scroll/annotatescrollbar.js') // required by matchesonscrollbar.js

  link(rel='stylesheet', href='libraries/codemirror/lib/codemirror.css')
  link(rel='stylesheet', href='libraries/codemirror/addon/dialog/dialog.css')
  link(rel='stylesheet', href='libraries/codemirror/addon/search/matchesonscrollbar.css')
  link(rel='stylesheet', href='libraries/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='view/myStyles.css')