block themes
  link(rel='stylesheet', href='libraries/codemirror/theme/3024-day.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/3024-night.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/abcdef.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/ambiance.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/base16-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/bespin.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/base16-light.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/blackboard.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/cobalt.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/colorforth.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/dracula.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/duotone-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/duotone-light.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/eclipse.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/elegant.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/erlang-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/hopscotch.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/icecoder.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/isotope.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/lesser-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/liquibyte.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/material.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/mbo.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/mdn-like.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/midnight.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/monokai.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/neat.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/neo.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/night.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/panda-syntax.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/paraiso-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/paraiso-light.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/pastel-on-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/railscasts.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/rubyblue.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/seti.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/solarized.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/the-matrix.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/tomorrow-night-bright.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/tomorrow-night-eighties.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/ttcn.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/twilight.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/vibrant-ink.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/xq-dark.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/xq-light.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/yeti.css')
  link(rel='stylesheet', href='libraries/codemirror/theme/zenburn.css')
